[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
requests = "*"
beautifulsoup4 = "*"
django-jsonfield = "*"
python-dotenv = "*"

[requires]
python_version = "3.8"
